@model RepositoryPatternPractice.Models.Product_Table

@{
    ViewData["Title"] = "GetProductHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetProductHistory</h1>

<div>
    <h4>Product_Table</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productCompany)
        </dd>

        @*@foreach(var item in Model.PriceHistory){

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceHistory)
        </dt>
        <dd class="col-sm-10">
            @item
        </dd>
        }*@
        
        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
